<div class="footer-usp">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="usp">
                    <div class="usp-image">
                        {% sw_icon 'reinsurance-a' style { 'namespace': 'Auwatec' } %}
                    </div>
                    <div class="usp-headline">
                        {{ 'footer.usp.title.1'|trans }}
                    </div>
                    <div class="usp-text">
                        {{ 'footer.usp.text.1'|trans }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="usp">
                    <div class="usp-image">
                        {% sw_icon 'reinsurance-b' style { 'namespace': 'Auwatec' } %}
                    </div>
                    <div class="usp-headline">
                        {{ 'footer.usp.title.2'|trans }}
                    </div>
                    <div class="usp-text">
                        {{ 'footer.usp.text.2'|trans }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="usp">
                    <div class="usp-image">
                        {% sw_icon 'reinsurance-c' style { 'namespace': 'Auwatec' } %}
                    </div>
                    <div class="usp-headline">
                        {{ 'footer.usp.title.3'|trans }}
                    </div>
                    <div class="usp-text">
                        {{ 'footer.usp.text.3'|trans }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="usp">
                    <div class="usp-image">
                        {% sw_icon 'reinsurance-d' style { 'namespace': 'Auwatec' } %}
                    </div>
                    <div class="usp-headline">
                        {{ 'footer.usp.title.4'|trans }}
                    </div>
                    <div class="usp-text">
                        {{ 'footer.usp.text.4'|trans }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>