{% sw_extends '@Storefront/storefront/component/delivery-information.html.twig' %}

{% block component_delivery_information %}
    {# Override parent completely to avoid duplicate logos #}
    {% if product.deliveryTime %}
        <link itemprop="availability" href="http://schema.org/{{ product.available ? 'InStock' : 'OutOfStock' }}"/>
        <p class="delivery-information">
            <span class="delivery-status-indicator bg-{{ product.available ? 'success' : 'danger' }}"></span>
            {% if product.available %}
                {{ "detail.deliveryTimeAvailable"|trans({'%name%': product.deliveryTime.translated.name})|sw_sanitize }}
            {% else %}
                {{ "detail.soldOut"|trans|sw_sanitize }}
            {% endif %}
        </p>
    {% endif %}
    
    <div class="footer-logo is-shipping mt-2">
        <img src="{{ asset('bundles/auwatec/logo/ups.png') }}" alt="UPS" class="img-fluid footer-logo-image" loading="lazy">
        <img src="{{ asset('bundles/auwatec/logo/DHL.svg') }}" alt="DHL" class="img-fluid footer-logo-image" loading="lazy">
        <img src="{{ asset('bundles/auwatec/logo/gls.png') }}" alt="GLS" class="img-fluid footer-logo-image" style="height: 24px;" loading="lazy">
    </div>
{% endblock %}