{% set baseSliderOptions = {
    slider: {
        gutter: 10,
        navPosition: 'bottom',
        autoplay: false,
        autoplayButtonOutput: false,
        nav: true,
        controls: true,
        loop: false,
        responsive: {
            xs: {items: 1},
            sm: {items: 1},
            md: {items: 2},
            lg: {items: 3},
            xl: {items: 4},
            xxl: {items: 4}
        },
    }
} %}
<div class="teaser-slider">
    <div class="teaser-slider-header">
        <div class="teaser-slider-header-headline h2">
            {% if data.text_headline !== ''%}
                {{ data.text_headline }}
            {% endif %}
        </div>
        <div class="teaser-slider-header-link">
            {% if data.text_link !== ''and data.text_link_text !== ''%}
                <a href="{{ data.text_link }}" class="h4">
                    {% sw_icon 'chevron-b-right' style { 'namespace': 'Auwatec' } %}
                    {{ data.text_link_text }}
                </a>
            {% endif %}
        </div>
    </div>

    {% if data.rep_teaser is defined and data.rep_teaser is iterable %}
        <div class="base-slider has-nav" data-base-slider="true"
             data-base-slider-options='{{ baseSliderOptions|json_encode }}'>
            <div data-base-slider-container="true">
                {% for sub0 in data.rep_teaser %}
                    <div>
                        <div class="teaser is-type-{{ sub0.choice_type|lower }}"
                                {% if sub0.choice_type === 'Bild' and sub0.med_image is defined and sub0.med_image is not null %}
                                    style="background-image: url({{ sub0.med_image.url }})"
                                {% endif %}
                        >
                            {% if sub0.choice_type === 'Einfach' and sub0.text_link !== '' %}
                            <a href="{{ sub0.text_link }}">
                                {% endif %}
                                {% if sub0.text_headline !== ''%}
                                    <div class="teaser-headline h4">
                                        {{ sub0.text_headline }}
                                    </div>
                                {% endif %}
                                {% if sub0.choice_type === 'Einfach' and sub0.med_image is defined and sub0.med_image is not null %}
                                    {% sw_thumbnails 'thumbnails' with {
                                        media: sub0.med_image
                                    } %}
                                {% endif %}
                                {% if sub0.choice_type === 'Bild' and sub0.text_link !== '' and sub0.text_button_text !== '' %}
                                    <a href="{{ sub0.text_link }}" class="btn btn-light teaser-button">
                                        {{ sub0.text_button_text }}
                                    </a>
                                {% endif %}
                                {% if sub0.choice_type === 'Einfach' and sub0.text_link !== ''  %}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="base-slider-controls"
                 data-base-slider-controls="true">
                <button
                        title="{{ "res.btn.slider.prev"|trans|raw }}" class="base-slider-controls-prev product-slider-controls-prev">
                    {% sw_icon 'arrow-head-left' %}
                </button>
                <button
                        title="{{ "res.btn.slider.next"|trans|raw }}" class="base-slider-controls-next product-slider-controls-next">
                    {% sw_icon 'arrow-head-right' %}
                </button>
            </div>
        </div>
    {% endif %}
</div>